.popoupanimation {
  animation: widthExpand 0.5s forwards;
}

@keyframes widthExpand {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}

@keyframes removed {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0px;
  }
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 10px solid;
  top: -9px;
}


